-- CreateTable
CREATE TABLE "JobAlert" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "what" TEXT NOT NULL,
    "where" TEXT NOT NULL,
    "frequency" TEXT NOT NULL DEFAULT 'WEEKLY',
    "salaryMin" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "lastSentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "JobAlert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NewsletterSubscriber" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "sentSlugs" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSentAt" TIMESTAMP(3),

    CONSTRAINT "NewsletterSubscriber_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Job" (
    "id" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "company" TEXT NOT NULL DEFAULT '',
    "location" TEXT NOT NULL DEFAULT '',
    "addressRegion" TEXT NOT NULL DEFAULT '',
    "postalCode" TEXT,
    "salaryPeriod" TEXT,
    "description" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "applyUrl" TEXT NOT NULL DEFAULT '',
    "salaryMin" INTEGER,
    "salaryMax" INTEGER,
    "salary" TEXT,
    "contractType" TEXT,
    "contractTime" TEXT,
    "postedAt" TIMESTAMP(3),
    "fetchedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "sourcePriority" INTEGER NOT NULL DEFAULT 99,
    "isFifo" BOOLEAN NOT NULL DEFAULT false,
    "postedByUserId" TEXT,
    "headerImage" TEXT,
    "needsHeaderImage" BOOLEAN NOT NULL DEFAULT true,
    "schemaDescription" TEXT,
    "schemaDescriptionVersion" INTEGER NOT NULL DEFAULT 0,
    "pausedAt" TIMESTAMP(3),
    "clickCount" INTEGER NOT NULL DEFAULT 0,
    "deletedAt" TIMESTAMP(3),
    "isOwn" BOOLEAN NOT NULL DEFAULT false,
    "flaggedAt" TIMESTAMP(3),
    "flagReasons" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "seoDescription" TEXT,
    "seoDescriptionVersion" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Job_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JobApplication" (
    "id" TEXT NOT NULL,
    "jobId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "resumeUrl" TEXT,
    "message" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "JobApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RoleStateDemand" (
    "id" TEXT NOT NULL,
    "roleSlug" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "count" INTEGER NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoleStateDemand_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "JobAlert_email_what_where_key" ON "JobAlert"("email", "what", "where");

-- CreateIndex
CREATE UNIQUE INDEX "NewsletterSubscriber_email_key" ON "NewsletterSubscriber"("email");

-- CreateIndex
CREATE INDEX "Job_postedByUserId_idx" ON "Job"("postedByUserId");

-- CreateIndex
CREATE INDEX "Job_isFifo_idx" ON "Job"("isFifo");

-- CreateIndex
CREATE INDEX "Job_active_idx" ON "Job"("active");

-- CreateIndex
CREATE INDEX "Job_fetchedAt_idx" ON "Job"("fetchedAt");

-- CreateIndex
CREATE INDEX "Job_title_company_idx" ON "Job"("title", "company");

-- CreateIndex
CREATE INDEX "Job_sourcePriority_fetchedAt_idx" ON "Job"("sourcePriority", "fetchedAt");

-- CreateIndex
CREATE INDEX "Job_active_expiresAt_fetchedAt_idx" ON "Job"("active", "expiresAt", "fetchedAt");

-- CreateIndex
CREATE INDEX "Job_active_company_idx" ON "Job"("active", "company");

-- CreateIndex
CREATE INDEX "Job_active_addressRegion_postedAt_idx" ON "Job"("active", "addressRegion", "postedAt" DESC);

-- CreateIndex
CREATE INDEX "Job_needsHeaderImage_headerImage_idx" ON "Job"("needsHeaderImage", "headerImage");

-- CreateIndex
CREATE INDEX "JobApplication_jobId_idx" ON "JobApplication"("jobId");

-- CreateIndex
CREATE INDEX "JobApplication_jobId_createdAt_idx" ON "JobApplication"("jobId", "createdAt");

-- CreateIndex
CREATE INDEX "RoleStateDemand_roleSlug_idx" ON "RoleStateDemand"("roleSlug");

-- CreateIndex
CREATE UNIQUE INDEX "RoleStateDemand_roleSlug_state_key" ON "RoleStateDemand"("roleSlug", "state");

-- AddForeignKey
ALTER TABLE "JobApplication" ADD CONSTRAINT "JobApplication_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "Job"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

